body {
  background-image: url(14.jpg);
  background-size: cover;
}
h2 {
  color: lightgray;
}
footer {
  font-size: 11px;
}
.footer {
  color: white;
  margin: auto;
  text-align: center;
  padding-bottom: 4rem;
  font-size: 11px;
}
